div#players {
  width: 100%;
  height: 180px;
  position: fixed;
  top: 0;
  left: 0;
}

div.player {
  background-color: transparent;
  background-image: url('../materials/gui/player_frame.png');
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  text-align: center;
  float: left;
}

div.frame {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: relative;
}

div.avatar {
  //background-image: url('http://i47.tinypic.com/delg5w.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100px;
  height: 100px;
  position: relative;
  top: 25px;
  left: 25px;
}

div.name {
 font-family: 'Segoe UI', 'Calibri', sans-serif;
 text-shadow: 0px 1px 1px #777;
 text-align: center;
 color: #EEE;
 margin-top: -10px;
}