@font-face {
	font-family: "SaintAndrews";
	src: url("../../fonts/SaintAndrewsQueen.ttf");
}

#lobby {
	background: -webkit-radial-gradient(center, ellipse cover, #6d6d6d 0%,#000000 100%);
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', sans-serif;
	background-color: #f0f0f0;
	color: #714d20;
	overflow-y: auto;
}

#lobby-content {
	width: 1200px;
	margin: 0 auto;
}

#lobby-content-header {
	padding-top: 190px;
	padding-left: 90px;
	padding-right: 90px;
	height: 383px;
	background-image: url('../../materials/lobby/bg-header.png');
	background-repeat: no-repeat;
	background-position: top center;
	text-align: center;
	vertical-align: middle;
	font-size: 200px;
}

#lobby-content-main {
	padding-left: 90px;
	padding-right: 90px;
	background-image: url('../../materials/lobby/bg-content.png');
	background-repeat: repeat-y;
	background-position: center center;
}

#lobby-content-left {
	width: 590px;
	margin-left: 10px;
	float: left;
}
#lobby-content-right {
	width: 400px;
	float: left;
}

#lobby-content-footer {
	padding-left: 90px;
	padding-right: 90px;
	height: 565px;
	background-image: url('../../materials/lobby/bg-footer.png');
	background-repeat: no-repeat;
	background-position: center bottom;
}

.content-box {
	padding: 10px;
	margin-bottom: 5px;
	border-width: 20px;
	-webkit-border-image: url('../../materials/lobby/border-image.png') 20% repeat repeat;
}

.content-box h3 {
	margin-bottom: 10px;
}

.content-box a, .content-box a:visited, .content-box a:active {
	color: #666;
	text-decoration: none;
}

.content-box a:hover {
	text-decoration: underline;
}

/*
	Server List
*/
div#servers {
	min-height: 320px;
}

#serverlist {
	width: 100%;
	border-spacing: 0px;
}

#serverlist td {
	padding: 4px;
}

#serverlist tr.row0 {
}

#serverlist tr.row1 {
	background-color: rgba(113,77,32,0.1);
}

#serverlist thead {
	background-color: #714d20;
	color: #b27a35;
}

#serverlist td.name {
	width: 60%;
}

#serverlist td.players {
	text-align: center;
	width: 20%;
}

/* Default HTML Elements */
#lobby input[type=text] {
	font-family: 'Segoe UI', sans-serif;
	font-size: 11pt;
	padding: 2px;
	color: #000;
	outline: none;
	background-color: transparent;
	border-width: 10px;
	-webkit-border-image: url('../../materials/lobby/border-image.png') 20% repeat repeat;
}

#lobby input::-webkit-input-placeholder {
	color: #704319;
}

#lobby input.playername {
	width: 100%;
	font-family: 'SaintAndrews', sans-serif;
	font-size: 48pt;
	border: none;
	padding: 0px;
	padding-left: 20px;
}

#lobby select[type=text] {
	font-family: 'Segoe UI', sans-serif;
	font-size: 11pt;
	padding: 2px;
	color: #000;
	outline: none;
	background-color: transparent;
	border-width: 10px;
	-webkit-border-image: url('../../materials/lobby/border-image.png') 20% repeat repeat;
}

#lobby button, #lobby input[type=button] {
	font-family: 'Segoe UI', sans-serif;
	font-size: 11pt;
	padding: 2px;
	color: #000;
	outline: none;
	background-color: transparent;
	border-width: 10px;
	-webkit-border-image: url('../../materials/lobby/border-image.png') 20% repeat repeat;
}